
nav{
  display: flex;
  justify-content: space-around;
}
.mini-logo{
  width: 100px;
}
.nav-list{
  display: flex;
  list-style: none;
  gap: 15px;
  margin: auto;
}
.pin{
  display: flex;
  height: 40px;
  margin: auto;
}